:root {
    --black-10: hsla(0, 0%, 0%, 0.1);
    --black-20: hsla(0, 0%, 0%, 0.2);
    --black-30: hsla(0, 0%, 0%, 0.3);
    --black-50: hsla(0, 0%, 0%, 0.5);
    --black-60: hsla(0, 0%, 0%, 0.6);
    --white-20: hsla(0, 0%, 100%, 0.2);
    --white-50: hsla(0, 0%, 100%, 0.5);
    --white-80: hsla(0, 0%, 100%, 0.8);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.at-header {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 300px;
}

.p-progress-spinner-circle {
    stroke: var(--primary-500) !important;
}

.p-inputtext {
    max-width: 100%;
}

.p-card .p-card-title {
    font-size: 1.25rem;
}

.p-card .p-card-content {
    padding: 1rem 0;
}

.p-multiselect .p-multiselect-label, .p-inputtext {
    padding: 0.5rem 0.75rem;
    max-height: 32px;
}
